{% extends 'base.html' %}

{% block book_class %}
    active
{% endblock %}

{% block page_main %}
    <div class="col-md-10">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>序号</th>
                <th>书本名称</th>
                <th>出版社</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for book in book_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ book.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.publisher.name }}</td>
                    <td>
                        <a class="btn btn-info" href="/edit_book/?id={{ book.id }}">编辑</a>
                        <a class="btn btn-danger" href="/delete_book/?id={{ book.id }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success pull-right" href="/add_book/">添加书籍</a>
        <nav aria-label="Page navigation pull-left">
            <ul class="pagination">
                <li id="ul1">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {{ li_html|safe }}
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
{% block myscript %}
{% endblock %}
