<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <style>
        #logout {
            margin-right: 120px;
        }
    </style>
</head>
<body>
<a id="logout" class="btn btn-primary pull-right" href="/auth_logout/">{{ user.username }}</a>
<div class="page-header">
    <h1 class="text-center">File Upload</h1>
</div>
<div class="col-md-10 col-md-offset-1">
    <form class="form-horizontal" action="/upload/" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Publisher</label>
            <div class="col-sm-10">
                <input type="text" name="publisher_name" class="form-control" placeholder="出版社名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">File Input</label>
            <label for="up1"><img  style="width: 35px; height: 35px" src="/static/upload.png" alt=""></label>
            <div class="col-sm-10">
                <input id="up1" type="file" name="file_name" id="file_name" style="display: none">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <button id="b1" class="btn btn-info">AJAX_Json</button>
        </div>
    </div>
    <a href="{% url "index" %}">Index页面</a>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $("#b1").on("click", function () {
            $.getJSON({
                dataType: "json",
                url: "http://127.0.0.1:8000/index/",
                success: function (data) {
                    console.log(data.name);
                }
            })
        })
    })
</script>
</body>
</html>